@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
/* -------------- */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  padding: 8px;
}

.footer {
  display: flex;
  background: #eeeeee;
  padding: 8px;
}

.left-links{
  display: flex;
  gap: 16px;
  padding: 8px;
}

.right-links{
  display: flex;
  gap: 16px;
  margin-left: auto;
  padding: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 8px;
}